card {
  border-radius: 15px;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(to right, #f8f9fa, #eef2f7);
}

.card {
  border-radius: 18px;
  border: none;
}

h2 {
  font-weight: 700;
  color: #1f2d3d;
}

label {
  font-weight: 600;
  color: #2c3e50;
}

input {
  border-radius: 10px !important;
  padding: 10px;
}

button {
  border-radius: 10px !important;
  font-weight: 600;
}

.btn-primary {
  background: #2563eb;
  border: none;
}

.btn-primary:hover {
  background: #1d4ed8;
}

.btn-success {
  background: #16a34a;
  border: none;
}

.btn-success:hover {
  background: #15803d;
}

.btn-outline-dark:hover {
  background: #111827;
  color: white;
}

table {
  border-radius: 12px;
  overflow: hidden;
}

.table-dark {
  background: #111827 !important;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
